/* Main container */
.todo-app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}

/* Task input and add button */
.user-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

.header {
  display: block;
  width: 100%;
  padding: 8px;
  margin-left: 130px;
  font-size: 30px;
}

.add-task-btn {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #4374b5;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.add-task-btn:hover {
  background-color: #4374b5;
}

/* Filter buttons */
.filter-btns {
  margin-bottom: 10px;
  padding: 8px;
  display: block;
  margin-left: 85px;
}

.filter-btns button {
  padding: 6px 10px;
  margin-right: 5px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  position: center;
}

.filter-btns button.active {
  background-color: #5aba74;
}

/* Task list */
.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #fff;
  cursor: pointer;
}

.task-item.completed {
  text-decoration: line-through;
  color: #888;
}