/* Main container */
.todo-app {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;

}

/* Task input and add button */
.task-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

.add-task-btn {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.add-task-btn:hover {
  background-color: #45a049;
}

/* Filter buttons */
.filter-btns {
  margin-bottom: 10px;
}

.filter-btns button {
  padding: 6px 10px;
  margin-right: 5px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.filter-btns button.active {
  background-color: #45a049;
}

/* Task list */
.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #fff;
  cursor: pointer;
}

.task-item.completed {
  text-decoration: line-through;
  color: #888;
}